**Ti·ªÅn x·ª≠ l√Ω data kh√¥ng g√°n nh√£n**

In [ ]:
!gdown '1sY0KeNSQ-_OCfxA6t8sPQlPONWyIjPT9'

Downloading...
From: https://drive.google.com/uc?id=1sY0KeNSQ-_OCfxA6t8sPQlPONWyIjPT9
To: /content/data_cho_tot.csv
100% 2.28M/2.28M [00:00<00:00, 133MB/s]

In [ ]:
import pandas as pd
data = pd.read_csv("/content/data_cho_tot.csv")
data.drop(columns = ['Unnamed: 0','link', 'title', 'companyName','decription', 'benefit'], inplace = True)

In [ ]:
data['priceNormal'].sample(10)

851              ƒê·∫øn 10 tri·ªáu/th√°ng
840              ƒê·∫øn 10 tri·ªáu/th√°ng
1428            ƒê·∫øn 150 tri·ªáu/th√°ng
189               ƒê·∫øn 7 tri·ªáu/th√°ng
1287    T·ª´ 38,4 tri·ªáu (l∆∞∆°ng kho√°n)
1249              T·ª´ 12 tri·ªáu/th√°ng
1319              ƒê·∫øn 8 tri·ªáu/th√°ng
842                    Th∆∞∆°ng l∆∞·ª£ng
992               ƒê·∫øn 7 tri·ªáu/th√°ng
1027             ƒê·∫øn 12 tri·ªáu/th√°ng
Name: priceNormal, dtype: object

In [ ]:
import pandas as pd
# Chuy·ªÉn ƒë·ªïi, l·∫•y s·ªë t·ª´ c·ªôt l∆∞∆°ng d·∫°ng text ƒë·ªÉ chuy·ªÉn v·ªÅ d·∫°ng s·ªë
def convert_to_number(salary_str):
    multiplier = 1
    if 'tri·ªáu' and ',' in salary_str:
        multiplier = 10**5
    elif 'tri·ªáu' in salary_str:
        multiplier = 10**6
    elif 'ngh√¨n' in salary_str:
        multiplier = 10**3

    number_str = ''.join(filter(str.isdigit, salary_str))

    if not number_str:
        return 'Th·ªèa thu·∫≠n'

    number = int(number_str)
    return number * multiplier

data['Salary'] = data['priceNormal'].apply(convert_to_number)

data['Salary'].value_counts()

10000000      274
15000000      246
12000000      212
8000000       205
9000000       152
             ...
350000000       1
1000000000      1
38500000        1
260000000       1
100000          1
Name: Luong, Length: 166, dtype: int64

In [ ]:
data[data['priceNormal'] == 'ƒê·∫øn 3,5 tri·ªáu/th√°ng']

,Unnamed: 0,link,title,priceNormal,companyName,location,companyType,decription,salaryType,contractType,jobType,experience,gender,vacacies,education,minAge,maxAge,benefit,skill,Luong
95,15,https://www.vieclamtot.com/viec-lam-quan-7-tp-...,Tuy·ªÉn Nh√¢n Vi√™n VƒÉn Ph√≤ng Parttime,"ƒê·∫øn 3,5 tri·ªáu/th√°ng",TNHH SJH GLOBAL,Tp H·ªì Ch√≠ Minh,C√¥ng ty,[PMH - Qu·∫≠n 7] Tuy·ªÉn nh√¢n vi√™n vƒÉn ph√≤ng part...,Theo th√°ng,B√°n th·ªùi gian,Nh√¢n vi√™n vƒÉn ph√≤ng,NaN,N·ªØ,1,NaN,20,26.0,NaN,NaN,3500000

In [ ]:
!gdown '1Rqg3RLKkLle8XepfVtDRjLe0wRqIof68'

In [ ]:
#ƒê√¢y l√† data sau khi l·ªçc tay m·ªôt s·ªë m·ª©c l∆∞∆°ng b·∫•t h·ª£p l√Ω (6 tri·ªáu/gi·ªù, 1000 tri·ªáu/ng√†y)
data = pd.read_csv("cho_tot_data (xu_ly_tay).csv")

In [ ]:
data.drop(columns = ['priceNormal'], inplace = True)

In [ ]:
#Nh·ªØng d√≤ng trong c·ªôt skill ƒë·ªÉ tr·ªëng ƒë∆∞·ª£c m·∫∑c ƒë·ªãnh ƒëi·ªÅn l√† 'kh√¥ng'
data['skill'].fillna("Kh√¥ng",inplace = True)

In [ ]:
#C√°c c·ªôt skill c√≥ ch·ª©a 'Kh√¥ng' ho·∫∑c 'kh√¥ng' th√¨ ƒëi·ªÅn Kh√¥ng, c√°c c·ªôt c√≤n l·∫°i th√¨ s·∫Ω ƒëi·ªÅn l√† 'C√≥'
data['skill']=data['skill'].apply(lambda x: 'Kh√¥ng' if ('Kh√¥ng' or 'kh√¥ng') in x else 'C√≥')

In [ ]:
#Lo·∫°i b·ªè m·ª©c l∆∞∆°ng c√≥ gi√° tr·ªã 'Th·ªèa thu·∫≠n'
data = data[data['Salary'] != 'Th·ªèa thu·∫≠n']

In [ ]:
#Xu·∫•t file data kh√¥ng ph·∫£i ƒë·ªëi t√°c ƒë√£ l√†m s·∫°ch
data.to_csv('data_luong_clean.csv', index = False)

**Ti·ªÅn x·ª≠ l√Ω data ƒë·ªëi t√°c**

In [ ]:
!gdown '12l0Ek02Tm4Hr65Lm5__LHsMBmBRCaKtL'

Downloading...
From: https://drive.google.com/uc?id=12l0Ek02Tm4Hr65Lm5__LHsMBmBRCaKtL
To: /content/data_cho_tot_doi_tac.csv
100% 905k/905k [00:00<00:00, 130MB/s]

In [ ]:
import pandas as pd
doi_tac = pd.read_csv("/content/data_cho_tot_doi_tac.csv")

In [ ]:
doi_tac

,Unnamed: 0.1,Unnamed: 0,link,title,priceNormal,companyName,location,companyType,decription,salaryType,contractType,jobType,experience,gender,vacacies,education,minAge,maxAge,benefit,skill
0,0,0,https://www.vieclamtot.com/viec-lam-quan-go-va...,[Shopeefood HCM] Tuy·ªÉn Nh√¢n Vi√™n Giao Nh·∫≠n ƒê·ªì ƒÇn,6.000.000 - 13.000.000 ƒë/th√°ng,C√îNG TY C·ªî PH·∫¶N FOODY,Tp H·ªì Ch√≠ Minh,C√¥ng ty,M√î T·∫¢ C√îNG VI·ªÜC\nüôã‚Äç‚ôÇÔ∏è B·∫°n c·∫ßn l√†m:\n- Nh·∫≠n h√†n...,Theo th√°ng,B√°n th·ªùi gian,T√†i x·∫ø giao h√†ng xe m√°y,NaN,Kh√¥ng y√™u c·∫ßu,50,NaN,18,55.0,NaN,NaN
1,1,1,https://www.vieclamtot.com/viec-lam-quan-dong-...,ƒê·ªëng ƒêa - Tuy·ªÉn Nh√¢n Vi√™n Giao Nh·∫≠n H√†ng H√≥a,9.000.000 - 14.000.000 ƒë/th√°ng,NINJAVAN VI·ªÜT NAM,H√† N·ªôi,C√¥ng ty,üî•üî•üî• NINJA VAN - TUY·ªÇN NH√ÇN VI√äN GIAO H√ÄNG KHU ...,Theo th√°ng,To√†n th·ªùi gian,T√†i x·∫ø giao h√†ng xe m√°y,NaN,Kh√¥ng y√™u c·∫ßu,5,NaN,18,40.0,NaN,NaN
2,2,2,https://www.vieclamtot.com/viec-lam-thanh-pho-...,Nh√¢n Vi√™n Kinh Doanh Showroom B√¨nh D∆∞∆°ng,6.000.000 - 15.000.000 ƒë/th√°ng,C√¥ng Ty C·ªï Ph·∫ßn Eurowindow,B√¨nh D∆∞∆°ng,C√¥ng ty,"- T√¨m ki·∫øm kh√°ch h√†ng ti·ªÅm nƒÉng, x√°c ƒë·ªãnh nhu ...",Theo th√°ng,To√†n th·ªùi gian,Nh√¢n vi√™n kinh doanh,1-2 nƒÉm,Kh√¥ng y√™u c·∫ßu,2,Trung c·∫•p/Ngh·ªÅ,22,35.0,NaN,NaN
3,3,3,https://www.vieclamtot.com/viec-lam-quan-long-...,Tuy·ªÉn Nh√¢n Vi√™n Kho Ca ƒê√™m L√†m L√¢u D√†i ·ªîn ƒê·ªãnh,10.000.000 - 12.000.000 ƒë/th√°ng,NINJAVAN VI·ªÜT NAM,H√† N·ªôi,C√¥ng ty,"1. C√îNG VI·ªÜC:\n- S·∫Øp x·∫øp, nh·∫≠p xu·∫•t, ph√¢n chia...",Theo th√°ng,To√†n th·ªùi gian,Nh√¢n vi√™n kho v·∫≠n,NaN,Kh√¥ng y√™u c·∫ßu,10,NaN,18,35.0,NaN,NaN
4,4,4,https://www.vieclamtot.com/viec-lam-huyen-hoc-...,Vi·ªác L√†m Ph·ª• Kho Shopee Ca S√°ng Chi·ªÅu T·∫°i C·ªß Chi,256.000 - 260.000 ƒë/ng√†y,Manpower,Tp H·ªì Ch√≠ Minh,C√¥ng ty,"Vi·ªác l√†m th·ªùi v·ª• l∆∞∆°ng tu·∫ßn ca s√°ng, ca chi·ªÅu....",Theo ng√†y,Th·ªùi v·ª•,Nh√¢n vi√™n kho v·∫≠n,Kh√¥ng y√™u c·∫ßu,Nam,20,NaN,18,48.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,195,20,https://www.vieclamtot.com/viec-lam-huyen-cu-c...,Nh√¢n Vi√™n Kho Th∆∞∆°ng M·∫°i ƒêi·ªán T·ª≠ - ·ªîn ƒê·ªãnh,"ƒê·∫øn 8,5 tri·ªáu/th√°ng",MANPOWER VIET NAM,Tp H·ªì Ch√≠ Minh,C√¥ng ty,TUY·ªÇN NH√ÇN VI√äN PH·ª§ KHO L√ÇU D√ÄI - C·ªê ƒê·ªäNH - KC...,Theo th√°ng,Th·ªùi v·ª•,Nh√¢n vi√™n kho v·∫≠n,NaN,Kh√¥ng y√™u c·∫ßu,150,NaN,18,35.0,NaN,NaN
671,196,21,https://www.vieclamtot.com/viec-lam-quan-tan-b...,Nh√¢n Vi√™n Kinh Doanh FPT Telecom,ƒê·∫øn 20 tri·ªáu/th√°ng,C√¥ng Ty C·ªï Ph·∫ßn Vi·ªÖn Th√¥ng FPT,Tp H·ªì Ch√≠ Minh,C√¥ng ty,"- T√¨m ki·∫øm kh√°ch h√†ng m·ªõi, chƒÉm s√≥c nh·ªØng kh√°c...",Theo th√°ng,To√†n th·ªùi gian,Nh√¢n vi√™n kinh doanh,Kh√¥ng y√™u c·∫ßu,Nam,4,C·∫•p 3,20,30.0,NaN,NaN
672,197,22,https://www.vieclamtot.com/viec-lam-quan-3-tp-...,[Qu·∫≠n 1] Nh√¢n Vi√™n B·∫øp - Nh√† H√†ng Ippudo,ƒê·∫øn 7 tri·ªáu/th√°ng,NH√Ä H√ÄNG M√å RAMEN IPPUDO (QU·∫¨N 1 - S·∫ÆP KHAI TR...,Tp H·ªì Ch√≠ Minh,C√¥ng ty,ƒê·ªäA ƒêI·ªÇM L√ÄM VI·ªÜC: Chi nh√°nh Ippudo -47 T√¥n Th...,Theo th√°ng,To√†n th·ªùi gian,Ph·ª• b·∫øp,NaN,Kh√¥ng y√™u c·∫ßu,10,NaN,18,NaN,NaN,NaN
673,198,23,https://www.vieclamtot.com/viec-lam-thanh-pho-...,Th·ªß ƒê·ª©C-C·∫ßn G·∫•p Shipper L∆∞∆°ng C·ª©ng 10.5TR/Th√°ng,ƒê·∫øn 15 tri·ªáu/th√°ng,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ GIAO H√ÄNG NHANH,Tp H·ªì Ch√≠ Minh,C√¥ng ty,- ƒê·∫øn b∆∞u c·ª•c QU·∫¨N TH·ª¶ ƒê·ª®C nh·∫≠n h√†ng ƒëi giao t...,Theo th√°ng,To√†n th·ªùi gian,T√†i x·∫ø giao h√†ng xe m√°y,Kh√¥ng y√™u c·∫ßu,Kh√¥ng y√™u c·∫ßu,6,Kh√¥ng y√™u c·∫ßu,18,50.0,NaN,GIAO TI·∫æP
674,199,24,https://www.vieclamtot.com/viec-lam-quan-go-va...,"G√≤ V·∫•p - Tuy·ªÉn NV Giao H√†ng (L∆∞∆°ng C·ª©ng 10,5TR)",ƒê·∫øn 15 tri·ªáu/th√°ng,C√îNG TY C·ªî PH·∫¶N D·ªäCH V·ª§ GIAO H√ÄNG NHANH,Tp H·ªì Ch√≠ Minh,C√¥ng ty,"- C·∫ßn shipper ch·∫°y tuy·∫øn c·ªë ƒë·ªãnh G√í V·∫§P, c√≥ h·ªó...",Theo th√°ng,To√†n th·ªùi gian,T√†i x·∫ø giao h√†ng xe m√°y,Kh√¥ng y√™u c·∫ßu,Kh√¥ng y√™u c·∫ßu,5,Kh√¥ng y√™u c·∫ßu,18,50.0,NaN,GIAO TI·∫æP

In [ ]:
doi_tac.duplicated().sum()

17

In [ ]:
#B·ªè duplicate
doi_tac.drop_duplicates(inplace = True)

In [ ]:
import numpy as np
def convert_salary(salary):
    salary = salary.replace('.', '').replace('ƒë/th√°ng', '').replace('ƒë/ng√†y', '').strip()
    if 'Th∆∞∆°ng l∆∞·ª£ng' in salary:
      return 'Th·ªèa thu·∫≠n'
    if '-' in salary:
        # X·ª≠ l√Ω gi√° tr·ªã '6.000.000 - 15.000.000', ...
        salary_values = [float(value) for value in salary.split('-')]
        return int(sum(salary_values) / len(salary_values))
    elif 'tri·ªáu' in salary:
        # N·∫øu kh√¥ng ph·∫£i c√°c tr∆∞·ªùng h·ª£p tr√™n, gi·ªØ nguy√™n gi√° tr·ªã
        return np.nan

In [ ]:
doi_tac['Salary'] = doi_tac['priceNormal'].apply(convert_salary)

In [ ]:
doi_tac['Salary'].unique()

array([9500000, 11500000, 10500000, 11000000, 258000, 'Th·ªèa thu·∫≠n', nan,
       None], dtype=object)

In [ ]:
doi_tac['priceNormal'].unique()

array(['6.000.000 - 13.000.000 ƒë/th√°ng', '9.000.000 - 14.000.000 ƒë/th√°ng',
       '6.000.000 - 15.000.000 ƒë/th√°ng',
       '10.000.000 - 12.000.000 ƒë/th√°ng', '256.000 - 260.000 ƒë/ng√†y',
       'Th∆∞∆°ng l∆∞·ª£ng', 'ƒê·∫øn 15 tri·ªáu/th√°ng', 'ƒê·∫øn 18 tri·ªáu/th√°ng',
       'ƒê·∫øn 20 tri·ªáu/th√°ng', 'ƒê·∫øn 7,5 tri·ªáu/th√°ng', 'ƒê·∫øn 8,5 tri·ªáu/th√°ng',
       'ƒê·∫øn 7 tri·ªáu/th√°ng', 'ƒê·∫øn 9 tri·ªáu/th√°ng', 'T·ª´ 9.000.000 ƒë/th√°ng',
       'T·ª´ 12.000.000 ƒë/th√°ng', 'ƒê·∫øn 12 tri·ªáu/th√°ng'], dtype=object)

In [ ]:
def convert_to_number(salary_str):
    if isinstance(salary_str, float):
        return salary_str
    multiplier = 1
    if 'tri·ªáu' in salary_str and ',' in salary_str:
        multiplier = 10**5
    elif 'tri·ªáu' in salary_str:
        multiplier = 10**6
    elif 'ngh√¨n' in salary_str:
        multiplier = 10**3

    number_str = ''.join(filter(str.isdigit, salary_str))

    if not number_str:
        return 'Th·ªèa thu·∫≠n'

    number = int(number_str)
    return number * multiplier
doi_tac['Salary'] = doi_tac.apply(lambda row: convert_to_number(row['priceNormal']) if pd.isna(row['Salary']) else row['Salary'], axis=1)

In [ ]:
doi_tac.drop(columns = ['Unnamed: 0','Unnamed: 0.1','link', 'title', 'companyName', 'benefit','priceNormal'], inplace = True)
doi_tac['skill'] = 'Kh√¥ng'
len(doi_tac)

658

In [ ]:
check_doi_tac = pd.read_csv("/content/data_luong_clean.csv")
check_doi_tac.drop_duplicates(inplace = True)

In [ ]:
#Merge 2 data ƒë·ªëi t√°c v√† kh√¥ng ƒë·ªëi t√°c
merged_df = pd.concat([doi_tac, check_doi_tac], ignore_index=True)

In [ ]:
merged_df.duplicated().sum()
# Lo·∫°i b·ªè c√°c d√≤ng tr√πng nhau

628

In [ ]:
merged_df.drop_duplicates(inplace = True)

In [ ]:
#T·∫°o c·ªôt partner m·∫∑c ƒë·ªãnh l√† nan
merged_df['Partner'] = np.nan

In [ ]:
merged_df.reset_index(inplace = True)
merged_df['Partner'][0:658] = 'C√≥'
merged_df['Partner'][658:] = 'Kh√¥ng'
#658 d√≤ng ƒë·∫ßu s·∫Ω l√† c·ªßa b·ªô d·ªØ li·ªáu ƒë·ªëi t√°c ƒë∆∞·ª£c merged v·ªõi d·ªØ li·ªáu c·∫ßn check ƒë·ªëi t√°c

<ipython-input-212-e046a84747e6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Partner'][0:658] = 'C√≥'

In [ ]:
merged_df[merged_df['Partner'] == 'C√≥']

,index,location,companyType,decription,salaryType,contractType,jobType,experience,gender,vacacies,education,minAge,maxAge,skill,Salary,Partner
0,0,Tp H·ªì Ch√≠ Minh,C√¥ng ty,M√î T·∫¢ C√îNG VI·ªÜC\nüôã‚Äç‚ôÇÔ∏è B·∫°n c·∫ßn l√†m:\n- Nh·∫≠n h√†n...,Theo th√°ng,B√°n th·ªùi gian,T√†i x·∫ø giao h√†ng xe m√°y,NaN,Kh√¥ng y√™u c·∫ßu,50,NaN,18,55.0,Kh√¥ng,9500000,C√≥
1,1,H√† N·ªôi,C√¥ng ty,üî•üî•üî• NINJA VAN - TUY·ªÇN NH√ÇN VI√äN GIAO H√ÄNG KHU ...,Theo th√°ng,To√†n th·ªùi gian,T√†i x·∫ø giao h√†ng xe m√°y,NaN,Kh√¥ng y√™u c·∫ßu,5,NaN,18,40.0,Kh√¥ng,11500000,C√≥
2,2,B√¨nh D∆∞∆°ng,C√¥ng ty,"- T√¨m ki·∫øm kh√°ch h√†ng ti·ªÅm nƒÉng, x√°c ƒë·ªãnh nhu ...",Theo th√°ng,To√†n th·ªùi gian,Nh√¢n vi√™n kinh doanh,1-2 nƒÉm,Kh√¥ng y√™u c·∫ßu,2,Trung c·∫•p/Ngh·ªÅ,22,35.0,Kh√¥ng,10500000,C√≥
3,3,H√† N·ªôi,C√¥ng ty,"1. C√îNG VI·ªÜC:\n- S·∫Øp x·∫øp, nh·∫≠p xu·∫•t, ph√¢n chia...",Theo th√°ng,To√†n th·ªùi gian,Nh√¢n vi√™n kho v·∫≠n,NaN,Kh√¥ng y√™u c·∫ßu,10,NaN,18,35.0,Kh√¥ng,11000000,C√≥
4,4,Tp H·ªì Ch√≠ Minh,C√¥ng ty,"Vi·ªác l√†m th·ªùi v·ª• l∆∞∆°ng tu·∫ßn ca s√°ng, ca chi·ªÅu....",Theo ng√†y,Th·ªùi v·ª•,Nh√¢n vi√™n kho v·∫≠n,Kh√¥ng y√™u c·∫ßu,Nam,20,NaN,18,48.0,Kh√¥ng,258000,C√≥
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,1281,Tp H·ªì Ch√≠ Minh,C√¥ng ty,Tuy·ªÉn d·ª•ng\n- Tri·ªÉn khai b·∫£n v·∫Ω chi ti·∫øt\n- B√≥...,Theo th√°ng,To√†n th·ªùi gian,Th·ª£ m·ªôc,3-5 nƒÉm,Nam,5,Kh√¥ng y√™u c·∫ßu,18,45.0,Kh√¥ng,20000000,C√≥
654,1282,Tp H·ªì Ch√≠ Minh,C√¥ng ty,"- B·∫£o tr√¨, s·ª≠a ch·ªØa c√°c s·∫£n ph·∫©m n·ªôi th·∫•t c·ªßa ...",Theo th√°ng,To√†n th·ªùi gian,Th·ª£ m·ªôc,3-5 nƒÉm,Nam,2,Kh√¥ng y√™u c·∫ßu,25,45.0,Kh√¥ng,15000000,C√≥
655,1283,H√† N·ªôi,C√¥ng ty,"- Ti·∫øp nh·∫≠n ƒë∆°n h√†ng, l·∫≠p k·∫ø ho·∫°ch v√† t·ªï ch·ª©c ...",Theo th√°ng,To√†n th·ªùi gian,Th·ª£ m·ªôc,3-5 nƒÉm,Nam,1,Cao ƒë·∫≥ng,27,40.0,C√≥,20000000,C√≥
656,1284,B√¨nh D∆∞∆°ng,C√¥ng ty,C√¥ng Ty TNHH MKAIZEN c·∫ßn tuy·ªÉn Nam Lƒëpt ƒë√£ l√†m...,Theo th√°ng,To√†n th·ªùi gian,Th·ª£ m·ªôc,NaN,Nam,5,NaN,20,50.0,Kh√¥ng,8000000,C√≥
657,1285,Tp H·ªì Ch√≠ Minh,C√¥ng ty,Th·ª£ m·ªôc v√°n c√¥ng nghi·ªáp\nBi·∫øt ƒë·ªçc b·∫£n v·∫Ω. Ra p...,Theo ng√†y,To√†n th·ªùi gian,Th·ª£ m·ªôc,1-2 nƒÉm,Nam,6,C·∫•p 2,18,35.0,Kh√¥ng,650000,C√≥

In [ ]:
# B·ªô d·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c l√†m s·∫°ch 1 ph·∫ßn
merged_df.to_csv("data_clean_v2.csv", index = False)